extends ../layout

block content
  .container
    .row
      each cat in categories
        .panel.panel-default
          .panel-heading
            p
              span 类别名: 
              a(href='/results?cat=#{cat._id}&p=0') #{cat.name}
          .panel-body
            if cat.mocks && cat.mocks.length > 0
              each item in cat.mocks
                .col-md-2
                    a(href="/mock/#{item._id}") #{item.name}